{% extends 'Agro_app/base.html' %}
{% block content %}
  <main class="px-3">
    <h1>AgroBlock</h1>

    {% if request.user.is_authenticated %}

      <p class="lead">{% if request.user.is_authenticated %}Bienvenido {{ user.username | upper }}, {% endif %}. Todos los materiales eléctricos para sus instalaciones, puede encontrarlos en nuestra tienda. Por ser un nuevo usuario, tendrá un 20% de descuento en su primer compra online !!!</p>

    {% else %}

      <p class="lead">AgroBlock, una plataforma de Agricultura Inteligente basada en Blockchain diseñada para revolucionar y mejorar la agricultura en la era digital. Nuestro objetivo es abordar los desafíos de la agricultura actual, buscando aumentar su eficiencia, sostenibilidad y transparencia. </p>
    {% endif %}

    <p class="lead">
      <a href="#" class="btn btn-lg btn-secondary fw-bold border-white bg-white">Acerca de Nosotros...</a>
    </p>
  </main>
{% endblock %}