/* Estilos generales */
body {
    background-color: #f4f4f4;
    font-family: Arial, sans-serif;
  }
  
  .container {
    max-width: 960px;
    margin: 0 auto;
    padding: 20px;
  }
  
  /* Estilos de encabezado */
  header {
    background-color: #333;
    color: #fff;
    padding: 20px 0;
    text-align: center;
  }
  
  h3 {
    font-size: 36px;
    margin: 0;
  }
  
  .nav {
    list-style: none;
    padding: 0;
  }
  
  .nav a {
    text-decoration: none;
    color: #fff;
    margin: 0 10px;
    font-size: 18px;
  }
  
  /* Estilos para el contenido específico de tu página */
  /* Añade reglas CSS específicas para los elementos de tu página aquí */
  
  /* Estilos para los botones */
  .btn {
    display: inline-block;
    padding: 10px 20px;
    background-color: #007BFF;
    color: #fff;
    text-decoration: none;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  
  .btn:hover {
    background-color: #0056b3;
  }
  
  /* Estilos para los enlaces */
  a {
    color: #007BFF;
    text-decoration: none;
  }
  
  a:hover {
    color: #0056b3;
  }
  