{% extends 'base.html' %}

{% block content%}

<section class=" gradient-custom">
    <div class="container py-5 h-100">
        <div class="row d-flex justify-content-center align-items-center h-100">
            <div class="col-12 col-md-8 col-lg-6 col-xl-5">
                <div class="card bg-dark text-white" style="border-radius: 1rem;">
                    <div class="card-body p-5 text-center">
                        <form action="{% url 'farmer_register'%}" method="POST">
                            <h2 class="fw-bold mb-2 text-uppercase">REGISTER FARMER</h2>
                            {{error}}
                            {% csrf_token %}
                        
                            <p class="text-white-50 mb-3">Please complete the information!</p>

                            <div class="form-outline form-white mb-3">
                                <input type="text" name="farm_name" placeholder="Farm name" class="form-control form-control-lg" />
                            </div>

                            <div class="form-outline form-white mb-3">
                                <input type="text" name="address" placeholder="Farm address" class="form-control form-control-lg" />
                            </div>

                            <div class="form-outline form-white mb-4">
                                <input type="text" name="phone_number" placeholder="Farm phone number" class="form-control form-control-lg" />
                            </div>

                            <div class="form-outline form-white mb-4">
                                <textarea name="bio" placeholder="Biography" class="form-control" rows="4"></textarea>
                            </div>


                            <button class="btn btn-outline-light btn-lg px-5" type="submit">REGISTER</button>
                        </form>
                        

                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

    <form action="{% url 'farmer_register' %}" method="POST">
        {% csrf_token %}

        {{form.as_p}}    

        <button>Aplicar</button>
        
    </form>
    
{% endblock %}