{% extends 'base.html' %}
{% load static %}
{% block content %}

    <h1 class="title text-center">CATÁLOGO</h1>
    <div class="container justify-content-end">
        <form class="form-inline justify-content-end" method="GET" action="/products/">
            <div class="d-flex">
                <input class="form-control mr-sm-2" type="search" name="q" placeholder="Search" aria-label="Search" value="{{ request.GET.q }}">
                <button class="btn btn-outline-info my-2 my-sm-0" type="submit">Search</button>
            </div>
        </form>
    </div>
    
    <div class="container mt-3 mb-3">
        <div class="row justify-content-center">
            <div class="col-md-12 text-center">
                {% if user.farmer_set.all %}
                    <a href="{% url 'product_create' %}" class="btn btn-primary mb-3">Crear Nuevo Producto</a>
                {% endif %}
            </div>
        </div>
    </div>

    <div class="container">
        <div class="row row-cols-1 row-cols-md-2 row-cols-lg-3 row-cols-lg-4 row-cols-lg-5">
            {% for agricultural_product in products_list %}
                <div class="col mb-4">
                    <div class="card mb-4 bg-dark">
                        <a style="text-decoration: none;" href="{% url 'product_detail' agricultural_product.id %}">
                            <div class="row shadow-sm">
                                <div class="col m-1">
                                    <img src="{{ agricultural_product.image.url }}" alt="{{ agricultural_product.name }}" class="card-img-top" style="height: 225px; width: 100%; display: block; border-radius: 5%;">
                                </div>
                            </div>
                            <div class="row">
                                <div class="col">
                                    <h5 class="card-title" style="max-height: 1.2em; overflow: hidden; text-overflow: ellipsis; white-space: nowrap;">{{ agricultural_product.name }}</h5>
                                    <p class="card-text">Precio: {{ agricultural_product.price }}</p>
                                    <p class="card-text">Stock: {{ agricultural_product.stock }}</p>
                                </div>
                                {% if user.is_authenticated%}
                                    <div class="col text-center m-4">
                                        <button class="btn btn-primary">
                                            <a href="{% url 'add_to_cart' agricultural_product.id %}" style="color: azure; text-decoration: none;">Add to Cart</a>
                                        </button>
                                    </div>
                                {% else %}
                                    <div class="col text-center m-4">
                                        <button class="btn btn-primary">
                                            <a href="{% url 'signup'%}" style="color: azure; text-decoration: none;">Add to Cart</a>
                                        </button>
                                    </div>
                                {% endif %}
                            </div>
                        </a>
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>

    


{% endblock %}


