{% extends 'base.html' %}

{% block content %}
    <div class="product-details">
        <h1 class="title">{{ product.name }}</h1>
        <div class="task-info">
            <div class="info-item">
                <strong>Descripción:</strong>
                <p>{{ product.description }}</p>
            </div>
            
        </div>
        <div>
            <div class="info-item">
                <strong>Precio:</strong>
                <p>{{ product.price }}</p>
            </div>
            <div class="info-item">
                <strong>Stock:</strong>
                <p>{{ product.stock }}</p>
            </div>
            
            {% if user == product.seller.user %}
                <button><a href="{% url 'product_edit' product.id %}">Edit</a></button>
                <button><a href="{% url 'product_delete' product.id %}">Delete</a></button>
            {% endif %}


            {% if not user.is_authenticated %}
                <button><a href="/signup/" style="text-decoration: none;">Buy</a></button>
                <button><a href="/signup/" style="text-decoration: none;">Añadir al carrito</a></button>
                <button><a href="/signup/" style="text-decoration: none;">Fav</a></button>
            {% else %}
                <button><a href="{% url 'buy' product.id %}" style="text-decoration: none;">Buy</a></button>
                <button><a href="{% url 'add_to_cart' product.id %}" style="text-decoration: none;">Add to cart</a></button>
                <button><a href="{% url 'signin' %}" style="text-decoration: none;">Fav</a></button>
            {% endif %}
            
        </div>
    </div>
{% endblock %}
