{% extends 'base.html' %}
{% load static %}

{% block content %}
<section class=" gradient-custom">
    <div class="container py-5 h-100">
        <div class="row d-flex justify-content-center align-items-center h-100">
            <div class="col-12 col-md-8 col-lg-6 col-xl-5">
                <div class="card bg-dark text-white" style="border-radius: 1rem;">
                    <div class="card-body p-5 text-center">
                        <form action="/signup/" method="POST">
                            <h2 class="fw-bold mb-2 text-uppercase">REGISTER</h2>
                            {{error}}
                            {% csrf_token %}
                            <p class="text-white-50 mb-5">Please enter your information!</p>

                            <div class="form-outline form-white mb-4">
                                <input type="text" name="username" placeholder="Username" class="form-control form-control-lg" />
                            </div>

                            <div class="form-outline form-white mb-4">
                                <input type="password" name="password1" placeholder="Password" class="form-control form-control-lg" />
                            </div>

                            <div class="form-outline form-white mb-4">
                                <input type="password" name="password2" placeholder="Confirm Password" class="form-control form-control-lg" />
                            </div>

                            <p class="small mb-3 pb-lg-2"><a class="text-white-50" href="/signin/">Are you registered?</a></p>

                            <button class="btn btn-outline-light btn-lg px-5" type="submit">REGISTER</button>

                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
{% endblock %}
